<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- 이 섹션은 My.Application.Log의 로깅 구성을 정의합니다. -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- 아래 섹션의 주석 처리를 제거하여 애플리케이션 이벤트 로그에 씁니다. -->
                    <!--<add name="EventLog"/>-->
					<!-- Uncomment to connect the application file log. -->
					<add name="FileLog" />
					<!-- Uncomment to connect the event log. -->
					<!-- <add name="EventLog" /> -->
					<!-- Uncomment to connect the event log. -->
					<!-- <add name="Delimited" /> -->
					<!-- Uncomment to connect the XML log. -->
					<!-- <add name="XmlWriter" /> -->
					<!-- Uncomment to connect the console log. -->
					<!-- <add name="Console" /> -->
					<add name="FileLogListener" />
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" 
                 initializeData="FileLogWriter"
				 />
            <!-- 아래 섹션의 주석 처리를 제거하여 APPLICATION_NAME을 애플리케이션 이름으로 바꾼 후 애플리케이션 이벤트 로그에 씁니다. -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
			<add name="FileLogListener"
    type="Microsoft.VisualBasic.Logging.FileLogTraceListener,
          Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral,
          PublicKeyToken=b03f5f7f11d50a3a"
    initializeData="FileLogListenerWriter"
    location="Custom"
    customlocation="c:\temp\sprtagexporter\" />
			<add name="EventLog"
				 type="System.Diagnostics.EventLogTraceListener,
           System, Version=2.0.0.0,
           Culture=neutral, PublicKeyToken=b77a5c561934e089"
				 initializeData="sample application"/>
			<add name="Delimited"
				 type="System.Diagnostics.DelimitedListTraceListener,
           System, Version=2.0.0.0,
           Culture=neutral, PublicKeyToken=b77a5c561934e089"
				 initializeData="c:\temp\sampleDelimitedFile.txt"
				 traceOutputOptions="DateTime" />
			<add name="XmlWriter"
				 type="System.Diagnostics.XmlWriterTraceListener,
           System, Version=2.0.0.0,
           Culture=neutral, PublicKeyToken=b77a5c561934e089"
				 initializeData="c:\temp\sampleLogFile.xml" />
			<add name="Console"
				 type="System.Diagnostics.ConsoleTraceListener,
           System, Version=2.0.0.0,
           Culture=neutral, PublicKeyToken=b77a5c561934e089"
				 initializeData="true" />
        </sharedListeners>
    </system.diagnostics>
</configuration>
